<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <link rel="stylesheet" href="../css/Choose-Translation.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="../js/bootstrap.js"></script>
    <script type="text/javascript" src="../js/choose_translation.js"></script>
    <title>Choose Language</title>
</head>
<body>
<div class="dropdown">
    <button onclick="myFunction();" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
        <a href="#">Spanish</a>
        <a href="#">English</a>
        <a href="#">Bengali</a>
        <a href="#">Greek</a>
        <a href="#">Cantonese</a>
        <a href="#">Italian</a>
        <a href="#">Hebrew</a>
        <a href="#">French</a>
        <a href="#">Mandarin</a>
    </div>
</div>
</body>
</html>