<!--TODO: fix second body tag -->
<!--TODO: close all divs -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Choose Service</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <script type="" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/core.js"></script>
    <script type="" href="js/bootstrap.js"></script>
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="../css/choose-service.css">
</head>
<body>
<div class="body-wrapper">
    <div>
        <a href="">
            <button type="button" class="btn btn-secondary">Prev</button>
        </a>
    </div>
    <div class="container-fluid">
        <body>
        <header>
            <div id="hamburger">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </header>
        <div class="container">
            <img src="../img/logo.png">
            <h2>Unagen</h2>
            <div>
                <h4>Welcome to the Unagen App. Where we connect you to real life translators. Please select if you are a
                    translator or if you need something to be translated</h4>
            </div>
            <div>
                <a href="../views/TranslatorPage.html">
                    <button type="button" class="btn btn-primary">Online Translators</button>
                </a>
            </div>
            <div>
                <a href="">
                    <button type="button" class="btn btn-primary">Translations</button>
                </a>
            </div>
            <div>
            </div>
        </div>
        <div>
</body>
</html>