<!--TODO: clsoe div tags-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Home Screen</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
    <script type="" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/core.js"></script>
    <script type="" href="../js/bootstrap.js"></script>
    <link rel="stylesheet" href="../css/Homescreen.css">
</head>
<body>
<div class="body-wrapper">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="../img/unaGenLogo.png">
                        Company
                    </a>
                </div>
            </div>
        </nav>
        <div class="header">
            <img class="img" src="../img/unaGenLogo.png"><br>
            <h2>Unagen</h2>
            <div>
                <button class="btn btn-primary" href="views/translatorPage.html">Get Translation</button>
                <button class="btn btn-primary">Get History</button>

            </div>
        </div>
</body>
</html>
<!-- TODO: Add Brand logo to nav-bar -->
<!--Settings on a menu bar, edit profile,-->