
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="../js/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/TranslatorStyle.css">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <title>Translator Profiles</title>
</head>
<body>
<div class="body-wrapper">
    <div class="container-fluid">
        <div id="translatorList"></div>
    </div>
    <script type="text/javascript" src="../js/translatorPage.js"></script>
</body>
</html>