<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>Title</title>
    <script src="../js/jquery-3.1.0.min.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.css"/>
    <script src="../js/bootstrap.js"></script>
    <link rel="stylesheet" href="../css/app.css"/>
    <link rel="stylesheet" type="text/css" href="../css/profileStyle.css">
    <script src="../js/app.js"></script>
</head>
<body>
<!-- Nav start -->
<nav id="nav-bar" class="navbar navbar-fixed-top">
    <div class="container">
        <a href="#" class="navbar-brand" data-toggle="collapse" data-target="#dropdown">UnaGen</a>
    </div>
</nav>
<div id="dropdown" class="collapse">
    <a href="#">
        <div class="dropdown-option">Home</div>
    </a>
    <a href="#">
        <div class="dropdown-option">Translators</div>
    </a>
    <a href="#">
        <div class="dropdown-option">Texting</div>
    </a>
    <a href="#">
        <div class="dropdown-option">Settings</div>
    </a>
    <a href="#">
        <div class="dropdown-option">Contact Us</div>
    </a>
</div>
<!-- Nav end -->
<div class="container-fluid">
	<p>Michael Reyes</p>
		<a><img src="http://www.teara.govt.nz/files/28836-pc_1.jpg"></a>
		<p class="description">Hello, My Name is Michael Reyes. I speak Spanish and English.<br>
   		I am twenty-five years old and was born in Barcelona, Spain.<br>
   		I graduated from the University of Barcelona in 1990 and moved to the US in 2004.
		</p>
</div>

</body>
</html>