<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../css/profileStyle.css">
    <title>Michael Reyes' Profile</title>
</head>
<body>
	<
	<p>Michael Reyes</p>
		<a><img src="http://www.teara.govt.nz/files/28836-pc_1.jpg"></a>
		<p class="description">Hello, My Name is Michael Reyes. I speak Spanish and English.<br>
   		I am twenty-five years old and was born in Barcelona, Spain.<br>
   		I graduated from the University of Barcelona in 1990 and moved to the US in 2004.
		</p>
</div>
</body>
</html>