.container{
	text-align: center;
}

.btn-primary{
	height: 100px;
	width: 50%;
	margin: 20px;
}

.btn-secondary{
	text-align: center;
	height: 40px;
	width: 15%;
}

h2, h4 {
	color: #fff;
}


/*empire bc 
renew capitalize
18448332608 */