.container-fluid{
	height: 400px;
	text-align: center;
	
	background: rgba(28, 42, 55, 0.7);
}

.input input[type="text"],.input input[type="password"]{
	height: 45px;
	width: 50%;
	font-size: 15px;
	margin-bottom: 28px;
	background-color: #fff;
	padding-left: 3px;
	opacity: 1;
}

.btn-primary{
	padding: 15px 25px;
}

h2{
	padding-bottom: 10px;
	color: #fff;
}

.input{
	opacity: 1.0;
}