.container-fluid{
	padding-bottom: 15px;
	text-align: center;
	margin-top: 100px;
}

.input input {
	height: 30px;
	width: 60%;
	font-size: 15px;
	margin-bottom: 13px;
	background-color: #fff;
	padding-left: 10px;
}

#select-language{
	height: 30px;
	width: 60%;
	font-size: 15px;
	margin-bottom: 13px;
	background-color: #fff;
	padding-left: 10px;
}

.btn-primary{
	padding: 15px 25px;
}

label, h2{
	color: #fff;
}