/*global styles*/

#nav-bar {
    margin-bottom: 0;
    background: #7f8c8d;
    box-shadow: 0 1px 3px #444;
}

#nav-bar a {
    color: #ECF0F1;
    text-shadow: 0 -1px #000;
}

.container-fluid {
    min-height:100vh;
    background-color: white;
    height:100%;
    margin-top: 50px;
}

#nav-logo {
    height: 35px;
    width: 50px;
}

#dropdown {
    position:fixed;
    /*height: 100vh;*/
    left: 0;
    width: 40%;
    z-index: 100;
    box-shadow: inset 0 -2px 5px #AAA;
    background-color: #EAEAEA;
}

.dropdown-option {
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    box-shadow: inset 0 -1px 1px #AAA;
}