.container-fluid{
    text-align: center;
    /*padding: 60px;*/
    background: url("../img/planet.jpg") no-repeat center center fixed;
}
h2{
	font-family: Verdana;
	color: white;
}
h4{
	font-family: Verdana;
	color: white;
}

#lang-dd-ul {
 	left:30%; 
 }