.container-fluid{
	height: 100%;
	padding-bottom: 15px;
	text-align: center;
	margin-top: 0px;
	background: none;
}

.container-inner{
	padding-top: 100px;
	background: rgba(28, 42, 55, 0.7);
}

.btn-primary{
	height: 100px;
	width: 50%;
	margin: 20px;
}

.btn-secondary{
	text-align: center;
	height: 40px;
	width: 15%;
}

h4 {
	color: #fff;
}