.container{
	text-align: center;
}

h2{
	color: white;
}
.img{
	padding: 60px;
}
.btn, .btn-primary{
	text-align: center;
	border: 20px;
}
h3{
	font-family: Verdana;
	color: #fff;
}

#logo {
    height: 150px;
    width: 100%;
    padding-top: 50px;
    margin-bottom: 20px;
}