.body-wrapper{
	margin: 0 auto;	
	width:auto;
	height:100%;
	margin-top:42px;
}

body{
	margin: 0 !important;
	height:inherit;
	width:inherit;
	background: url("../img/planet.jpg") no-repeat center center fixed; 
	background-repeat: no-repeat;
	background-size: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

html{
	
	height:100%;
	width:auto;
}

.container-fluid{
	padding-top:100px;
	width: 80%;
	background-color: #33ccff;
	border-radius: 4px;
	margin: 0 auto 0 auto;
	background: rgba(28, 42, 55, 0.7);
}

.container-fluid img{
	width: 110px;
	height: 90px;
	margin-top: -60px;
	margin-bottom: 2px;
}


