body{
	margin: 0 !important;
	height:inherit;
	width:inherit;
	background: url("../img/planet.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}
