.container-fluid{
	text-align: center;
	padding:50px;
}
img{
	height: 155px;
	width: 195px;
	align: center;
}
p{
	color: #2c3e50;
	font-size: 45px;
	text-align: center;
}
.description{
	font-size:24px;
}
.span-link{
	font-size:24px;
}
