.container-fluid{
	text-align: center;
	margin-top:50px;
	background: #ffd27f;
}
img{
	height: 155px;
	width: 195px;
	align: center;
}
p{
	font-family: Verdana;
	color: #2c3e50;
	font-size: 33px;
	text-align: center;
}
.description{
	font-size:23px;
}
.span-link{
	font-size:24px;
}
