.container-fluid{
	height: 100%;
	padding-bottom: 15px;
	text-align: center;
	background: none;
}

.container-inner{
	padding-top: 100px;
	background: rgba(28, 42, 55, 0.7);
}

.row input {
	height: 40px;
	width: 70%;
	font-size: 30px;
	margin-bottom: 13px;
	background-color: #fff;
	padding-left: 10px;
}

#select-language{
	height: 40px;
	width: 70%;
	font-size: 30px;
	margin-bottom: 13px;
	background-color: #fff;
	padding-left: 10px;
}

.btn-primary{
	padding: 15px 25px;
}

label, h2{
	color: #fff;
	font-size: 25px;
}
.signUp{
	color: red;
}

button{
	width: 35%;
	height: 50px;
	font-size: 30px;
	margin-top: : 5px;
}



.container-fluid img{
	margin-top: 150px;
}