input {
    width: 70%;
    height: 35px;
    padding: 15px;
    margin: 5px;
}

.btn-primary{
	padding: 15px 25px;
}

h2{
	padding-bottom: 10px;
	color: #fff;
}

#submit-btn {
    margin-top: 10px;
    width : 40%;
}

.container-fluid img{
	padding-top: 50px;
}

#logo {
    height: 150px;
    width: 100%;
}

#signUp {
    color: #fff;
    line-height: 200%;
}