

.container-fluid {
    height: 100%;
    padding-bottom: 15px;
    text-align: center;
    margin-top: 0px;
}

input {
    font: 12px arial;
}

a {
    color: #0000FF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#chatbox {
    background: #fff;
    top: 150px;
    bottom: 50px;
    position: fixed;
    width: 90%;
    border: 1px solid #ACD8F0;
    text-align: left;
}

#usermsg {
    width: 100%;
    border: 1px solid #ACD8F0;
    margin-bottom: 3px;
}

.msgln {
    margin: 0 0 2px 0;
}

#logo {
    height: 100px;
    width: 70%;
    padding-top: 50px;
    margin-bottom: 20px;
}

#input-grp {
    height: 30px;
    bottom: 10px;
    width: 90%;
    position:fixed;
}

#input-wrapper input{
    height: 100%;
    border-style: ridge;
}

.message {
    margin-bottom: 10px;
    height: 10px;
}