/* TODO: fix selector attr */
.body-wrapper{
    background: #ecf0f1;
}

div{
	font-size: 18px;
}
.row{
	height: 100px;
	padding-bottom:15px;
	border-bottom: 5px;
	box-shadow: 0px 2px 3px #888888;
}

.profilePic {
    margin-top: 10px;
    height: 90%;
    width: 80px;
}