
.body-wrapper{
    background: #ecf0f1;
}

div{
	font-size: 18px;
	text-align: center;
}
.row{
	height: 100px;
	padding-bottom:15px;
	border-bottom: 5px;
	box-shadow: 0px 2px 3px #888888;
	background-color: #ffc966;
	color: green;
}

.profilePic {
    margin-top: 10px;
    height: 90%;
    width: 80px;
    border-radius: 50%;
}
#translatorList{
	color: green;
}

.container-fluid {
    min-height:100vh;
   /* background-color: white; */
    height:100%;
    margin-top: 50px;
    text-align: center;
}

.name {
  height:100px;
}

.name span {
  padding-top: 30px;
  color: red;
  height:100px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;  
}

.status {
  padding-top: 30px;
  color: green;
  height:100px;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;  
}